In [1]:
print("hello world")

hello world

In [11]:
#my name is hammad
"""
hy 
helllo
my name is hammad
this is my python code 
and this is multiline comment"""
print("hello world","hammad",end=" ")

hello world hammad

In [12]:
"""
hello i am hammad
this is my code to understand the
escape, print and comment statement."""

print("hello i am hammad", end=", ")
print("hammad saeed")

print("i am studying in \n minhaj university","\tmy program is computer science.")

hello i am hammad, hammad saeed
i am studying in
 minhaj university 	my program is computer science.

In [27]:
"""
in this program we will study variables
ata types and typecasting"""
a="54"
b=4
c=36.7
d=" 32"
print(type(a))
print(type(b))
print(type(c))
print(c+b)
print(15*str(int(a)+int(d)))

<class 'str'>
<class 'int'>
<class 'float'>
40.7
868686868686868686868686868686

In [33]:
print("enter your number: ")
innumber= input()
print("you entered: ",int(innumber)*2)

enter your number:
2
you entered:  4

In [38]:
"""quiz 
make a calculator to add,multiply, subtract,divide two numbers"""

print("Enter number 1= ")
n1= input()
print("Enter number 2= ")
n2=input()
print("The sum of two numbers is ",int(n1)+int(n2))
print("The product of two numbers is ",int(n1)-int(n2))
print("The multipiction of two numbers is ",int(n1)*int(n2))
print("The division of two numbers is ",int(n1)/int(n2))

Enter number 1=
12
Enter number 2=
3
The sum of two numbers is  15
The product of two numbers is  9
The multipiction of two numbers is  36
The division of two numbers is  4.0

In [56]:
"""
string"""
mystr="hammad is a good boy"
print(len(mystr))
#print(mystr[0:6:4]) #string slicing

20
ha

In [62]:
""" functions"""
mystr="Hammad is a good boy"
print(len(mystr))
print(mystr.capitalize())
print(mystr.lower())
print(mystr.replace("is","are"))
print(mystr.count("0"))
print(mystr.endswith("boy"))

20
Hammad is a good boy
hammad is a good boy
Hammad are a good boy
0
True

In [86]:
"""
list
list function"""
grocery=["dettol","surf","cooking oil","rice",556,4]
print(grocery[3])
numbers=[2,54,34,65,1,14,3]
numbers.sort()
print(numbers)
numbers.append(74)
print(numbers)
print(max(numbers))
numbers.insert(1,23)
print(numbers)

"""
mutable=can change
immutable= cannot change"""
tp=(1,2,3)
print(tp)
a=1
b=2
a,b=b,a
print(a,b)

rice
[1, 2, 3, 14, 34, 54, 65]
[1, 2, 3, 14, 34, 54, 65, 74]
74
[1, 23, 2, 3, 14, 34, 54, 65, 74]
(1, 2, 3)
2 1

In [15]:
"""dictionary and its functions"""
d1=[]
d2={"hammad":"burger","hanan":"pizza","hassan":{"b":"bread","l":"burger","d":"biryani"}}
d2["awais"]="shawarma" #add new element
d2["ali"]="biryani"#add new element
print(d2)
del d2["awais"] #to delete the element
print(d2)
print(d2.copy())#to copy
d3=d2
del d3["ali"]
print(d2)
print(d2["hammad"]) #to get the value
print(d2["hassan"]["b"])
print(d2.get("hassan"))#to get the value
d2.update({"ahmad":"snacks"})#add new element
print(d2)
print(d2.keys())
print(d2.items())

{'hammad': 'burger', 'hanan': 'pizza', 'hassan': {'b': 'bread', 'l': 'burger', 'd': 'biryani'}, 'awais': 'shawarma', 'ali': 'biryani'}
{'hammad': 'burger', 'hanan': 'pizza', 'hassan': {'b': 'bread', 'l': 'burger', 'd': 'biryani'}, 'ali': 'biryani'}
{'hammad': 'burger', 'hanan': 'pizza', 'hassan': {'b': 'bread', 'l': 'burger', 'd': 'biryani'}, 'ali': 'biryani'}
{'hammad': 'burger', 'hanan': 'pizza', 'hassan': {'b': 'bread', 'l': 'burger', 'd': 'biryani'}}
burger
bread
{'b': 'bread', 'l': 'burger', 'd': 'biryani'}
{'hammad': 'burger', 'hanan': 'pizza', 'hassan': {'b': 'bread', 'l': 'burger', 'd': 'biryani'}, 'ahmad': 'snacks'}
dict_keys(['hammad', 'hanan', 'hassan', 'ahmad'])
dict_items([('hammad', 'burger'), ('hanan', 'pizza'), ('hassan', {'b': 'bread', 'l': 'burger', 'd': 'biryani'}), ('ahmad', 'snacks')])

In [59]:
"""exercise"""

dic={"memory":"The faculty by which the mind stores and remembers information","empowerment":"Self-determination","photosythesis":"Production of plants"}
print("\t\tdictionary\n")
print("Enter the word:")
word=input()

print(word.capitalize()," =  ", dic.get(word))

		dictionary

Enter the word:
memory
Memory  =   The faculty by which the mind stores and remembers information

In [40]:
"""sets"""
"""s=set()
l=[1,2,3,4]
sfromlist=set(l)
print(sfromlist)
print(type(sfromlist))"""
s.add(1)
s.add(2)
s1={3,4,5}

print(s.isdisjoint(s1))

True

In [44]:
"""if else elif"""
var1=7
var2=56
var3= int(input())

if var3>var2:
    print("greater")
elif var3==var2:
    print("equal")
else:
    print("smaller")

list=[4,5,6]
if 4 in list:
    print("yes")

2
smaller
yes

In [57]:
"""quiz if else"""

print("\t\tdriving age\n")
print("Enter your age: ")

age=int(input())
    
if age>18:
    print("You can drive the car.")
elif age==18:
    print("Sorry we can not understand.Please come to us and we will guide you physically.")
else:
    print("You are under 18. you can not drive the car.")

		driving age

Enter your age:
19
You can drive the car.

In [67]:
"""exercise faulty calculator"""

print("\t\tCalculator")

print("Enter first number: ")
n1=int(input())
print("Enter second number:")
n2=int(input())
print("Enter the operation (+,-,*,\,%):")
op=input()

if n1==45 and n2==3 and op=="*":
    print("\n",n1,op,n2,"="," 555")
elif n1==56 and n2==9 and op=="+":
    print("\n",n1,op,n2,"="," 77")   
elif n1==56 and n2==6 and op=="/":
    print("\n",n1,op,n2,"="," 4")
    
elif op=="+":
    print("\n",n1,op,n2,"= ",n1+n2)
elif op=="-":
    print("\n",n1,op,n2,"= ",n1-n2) 
elif op=="*":
    print("\n",n1,op,n2,"= ",n1*n2)
elif op=="/":
    print("\n",n1,op,n2,"= ",n1/n2)
elif op=="%":
    print("\n",n1,op,n2,"= ",n1%n2) 
else:
    print("There is an error!")

		Calculator
Enter first number:
12
Enter second number:
4
Enter the operation (+,-,*,\,%):
/

 12 / 4 =  3

In [7]:
"""loop"""

list1=[ ["hammad", 1] , ["hassan", 2],["hanan",6] ]
dict1=dict(list1)
for item in dict1:
    print(item)
for item,lollypop in dict1.items():
    print(item,lollypop)

hammad
hassan
hanan
hammad 1
hassan 2
hanan 6

In [11]:
"""quiz loop"""

items=["hammad","hanan","qw",2,67,45,21,343,4,5,98,68]
for item in items:
    if str(item).isnumeric() and item>6:
        print(item)

67
45
21
343
98
68

In [3]:
"""while loop"""

i=0

while (i<11):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
"""break and continue"""
i=0
while (True):
    if (i<5):
        i=i+1
        continue
    print(i+1,end="")
    if (i==44):
        break
    i=i+1

6789101112131415161718192021222324252627282930313233343536373839404142434445

In [3]:
"""quiz"""
while(True):
    print("Enter any number:",end="")
    n=int(input())
    if n>100:
        print("Congratulations!you have entered number greater than or equal to 100")
        break
    else:
        print("Try again!")
        continue

Enter any number:12
Try again!
Enter any number:43
Try again!
Enter any number:23
Try again!
Enter any number:12
Try again!
Enter any number:123
Congratulations!you have entered number greater than or equal to 100